.MessageHistory {
    background: hsl(0, 0%, 89%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 5px 10px;
    height: calc(100vh - 50px);
}

.MessageHistory div:first-child {
    margin-top: auto;
}

.join {
    color: hsl(30, 100%, 56%);
}

.user {
    color: hsl(0, 0%, 20%);
}

.left {
    color: hsl(0, 100%, 56%);
}

.MessageHistory div.loader {
    align-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}